n8n/n8n_workflow_testimonial_mejorado.json
{
  "name": "Convertir Testimonio a Publicación Redes Sociales (Mejorado)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testimonial-to-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook - Recibir Testimonio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "testimonial-converter-v2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "testimonial-text",
              "name": "testimonial",
              "value": "={{ $json.body.testimonial || $json.body.testimonio || $json.body.text }}",
              "type": "string"
            },
            {
              "id": "target-audience",
              "name": "target_audience",
              "value": "={{ $json.body.target_audience || $json.body.target_audience_problem || $json.body.problema_resultado || $json.body.problema }}",
              "type": "string"
            },
            {
              "id": "platform",
              "name": "platform",
              "value": "={{ $json.body.platform || $json.body.plataforma || 'general' }}",
              "type": "string"
            },
            {
              "id": "tone",
              "name": "tone",
              "value": "={{ $json.body.tone || $json.body.tono || 'cálido y profesional' }}",
              "type": "string"
            },
            {
              "id": "include-hashtags",
              "name": "include_hashtags",
              "value": "={{ $json.body.include_hashtags !== false }}",
              "type": "boolean"
            },
            {
              "id": "include-cta",
              "name": "include_call_to_action",
              "value": "={{ $json.body.include_call_to_action !== false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Extraer y Validar Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-testimonial",
              "leftValue": "={{ $json.testimonial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-audience",
              "leftValue": "={{ $json.target_audience }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-inputs",
      "name": "Validar Inputs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TESTIMONIAL_API_URL || 'http://localhost:5000/convert' }}",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testimonial",
              "value": "={{ $json.testimonial }}"
            },
            {
              "name": "target_audience",
              "value": "={{ $json.target_audience }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "tone",
              "value": "={{ $json.tone }}"
            },
            {
              "name": "include_hashtags",
              "value": "={{ $json.include_hashtags }}"
            },
            {
              "name": "include_call_to_action",
              "value": "={{ $json.include_call_to_action }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-request",
      "name": "Llamar API de Conversión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Llama a la API Flask que ejecuta el script Python"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Verificar Éxito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-response",
              "name": "publicacion",
              "value": "={{ $json.full_post }}",
              "type": "string"
            },
            {
              "id": "hashtags",
              "name": "hashtags",
              "value": "={{ $json.hashtags }}",
              "type": "array"
            },
            {
              "id": "cta",
              "name": "call_to_action",
              "value": "={{ $json.call_to_action }}",
              "type": "string"
            },
            {
              "id": "length",
              "name": "length",
              "value": "={{ $json.length }}",
              "type": "number"
            },
            {
              "id": "platform-result",
              "name": "platform",
              "value": "={{ $json.platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Responder Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || 'Error desconocido' } }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Campos testimonial y target_audience son requeridos\" } }}",
        "options": {}
      },
      "id": "respond-validation-error",
      "name": "Responder Error Validación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Webhook - Recibir Testimonio": {
      "main": [
        [
          {
            "node": "Extraer y Validar Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer y Validar Variables": {
      "main": [
        [
          {
            "node": "Validar Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Inputs": {
      "main": [
        [
          {
            "node": "Llamar API de Conversión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar API de Conversión": {
      "main": [
        [
          {
            "node": "Verificar Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Éxito": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Responder Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}



